
h1 {
  font-family: 'Lucida Handwriting', 'Cursive';
  padding: 50px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

}

.failure {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.first-ul{
  list-style: none;
  padding: 30;
  display:'inline';
  flex:1;
}

.second-ul{
  font-size: 14px;
  flex: 1;
  padding:60px;
  margin-top: 5px;
}

.app__menu{
  text-decoration: none;
}

.a{
  text-decoration: none;
  font-size: 2.5em;   
}

.a:hover{
  transition-timing-function: ease-in;
  transition: 0.3s;
  text-decoration: underline;
  color: rgb(244, 244, 244);
}

.loggedin{
  color: rgb(0,0,0);
  text-decoration: none;
}